{% extends "basemap/basemap.html" %}

{% block toolbar %}
<header class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'basemap_list' %}">Doopy Maps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>

    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav  ms-auto">        
            <li class="nav-item dropdown">
                <button onclick="loginDropdown()" class="btn btn-outline-success my-2 my-lg-0 loginBtn">{{user}}<i class="fa fa-caret-down"></i></button>
                <ul style="list-style-type:none" id="loginDropdown" class="dropdown-content">
                    <li><span class="dropdown-item-text">{{user.email}}</span></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">logout</a></li>
                    <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                </ul>
            </li>
        </ul>
    </div>
    {% else %}
        <a href="{% url 'login'%}?next={{request.path}}" class="btn btn-outline-success my-2 my-lg-0">Login</a>
    {% endif %}

</header>
{% endblock %}

{% block sidebar %}
<div id="mySidenav" class="sidenav">
    <div class="left-panel">
        <button class="side-panel-links" onclick="openPanel(event,'map-info-panel')">Map Info</button>
        <button class="side-panel-links" onclick="openPanel(event,'data-explorer-panel')">Data Explorer</button>
        <button class="side-panel-links" onclick="openPanel(event,'COGO-panel')">COGO</button>
    </div>
    <div class="right-panel">
        <div id="map-info-panel" class="side-panel-content"  style="display:None">
            <h3>Map Info</h3>

            <div class="form-group">
                <form action ="" method="post" class="navbar-form navbar-left my-2 my-lg-0">
                    {% csrf_token %}
                    <div class="row">
                        <div>
                            {{form.name}}
                        </div>
                        <div>
                            {{form.style}}
                        </div>
                        {{form.zoom}}
                        {{form.location}}
                        <div>
                            <button type="submit" class="btn btn-outline-success my-2 my-lg-0">Save</button>
                        </div>
    
                    </div>
                </form>
            </div>
        </div>
        <div id="data-explorer-panel" class="side-panel-content"  style="display:None">
            <h3>Data Explorer</h3>

            <p><b>Point Sets:</b></p>

            {% for pointset in basemap.pointsets.all %}

                <p>{{pointset}}</p>

            {% empty %}

                <p>None</p>

            {% endfor %}
        </div>
        <div id="COGO-panel" class="side-panel-content"  style="display:None">
            <h3>COGO</h3>
        </div>
    </div>
</div>

{% endblock %} 

<script>   

</script>