{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'basemap/style.css' %}">

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css" />
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  </head>

  <body>

    <div id="map">    
        {% block toolbar %}{% endblock %}
        {% block sidebar %}{% endblock %}

        <div id="geocoder" class="geocoder"></div>
        
        <div>
          <button class="sidebar-btn" id="sidebar-btn" onclick="openNav()">open</button>
        </div>

    </div>
    
    <script src='{% static "basemap/basemap.js" %}'></script>

    <script>

      '{% for pointset in basemap.pointsets.all %}'

      var randomColorNum = Math.floor(Math.random()*16777215).toString(16);

      var randomColor = "#" + randomColorNum;

      '{% for point in pointset.cogopoint_set.all %}'

      var x = '{{point.getGeoJson}}';
      addPoints(x,randomColor);

      '{% endfor %}'

      '{% endfor %}'

    </script>

</html>